---
import type {
	GetStaticPaths,
	InferGetStaticParamsType,
	InferGetStaticPropsType,
} from "astro";
import Layout from "@/layouts/main.astro";
import {
	convertProductsToAstroStaticPaths,
	getReviewsByProductId,
} from "@/lib/fake-api";
import { summarizeReviews } from "@/lib/product-reviews";

export const getStaticPaths = (async () => {
	return convertProductsToAstroStaticPaths();
}) satisfies GetStaticPaths;

type Params = InferGetStaticParamsType<typeof getStaticPaths>;
type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { productId } = Astro.params as Params;
const { product } = Astro.props as Props;
if (!product) {
	return Astro.redirect("/404");
}

const reviews = await getReviewsByProductId(productId);
const summary = await summarizeReviews(product.name, reviews);
---

<Layout content={{ title: product.name }}>
	<h1>{productId} {product.name}</h1>
	<p><strong>AI Summary:</strong> {summary.text}</p>
	<ul class="pl-4 list-disc">
		{
			reviews.map((review) => (
				<li>
					<strong>{review.id}</strong>
					<p>{review.review}</p>
				</li>
			))
		}
	</ul>
</Layout>
